@media (min-width:1400px) {
    header {
        .block {
            .WithIphone {
                .iphone {
                    width: 49%;
                }
                @media (min-width:1500px) {
                    .iphone {
                        width: 45%;
                    }
                }
                @media (min-width:1650px) {
                    .iphone {
                        width: 41%;
                    }
                }
                @media (min-width:1900px) {
                    .iphone {
                        width: 35%;
                    }
                }
            }
        }
    }
}
@media (max-width:1100px) {
    header {
        .block {
            .WithIphone {
                @media (max-width:960px) {
                    margin-top: -20%;
                }
                .iphone {
                    width: 90%;
                    height: 728px;
                }
                @media (max-width:960px) {
                    .iphone {
                        width: 100%;
                        height: 590px;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    header {
        .block {
            margin-top: -25%;
            .WithIphone {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10%;
                .simple {
                    margin-top: 120%;
                    text-align: center;
                    .but {
                        display: flex;
                        justify-content: center;
                    }
                    button {
                        margin-bottom: 40px;
                    }
                }
                .iphone{
                    width: 64%;
                }
            }
        }
    }
}
@media (max-width:552) {
    header {
        height: 1000px;
    }
}

@media (max-width:573px) {
    header {
        height: 1100px;
        .box-gradient {
            width: 100%;
            .head {
                width: 29%;
                flex-wrap: wrap;
                text-align: center;
                margin: 0 auto;
            }
        }
        .block {
            .WithIphone{
                margin-top: 50%;
            } 
        }
    }
}
@media (max-width:450px) {
    header {
        height: 1050px;
    }
}
@media (max-width:444px) {
    header {
        .block {
            .WithIphone {
                .simple {
                    margin-top: 170%;
                }
            }
        }
    }
}
@media (max-width:405px) {
    header{
        .box-gradient {
            .head {
                width: 42%;
            }
            @media (max-width:360px) {
                .head {
                    width: 47%;
                }
            }
        }
    }
}
@media (max-width:400px) {
    header {
        height: 980px;
    }
}
@media (max-width:444px) {
    header {
        .block {
            .WithIphone {
                .simple {
                    margin-top: 250%;
                }
            }
        }
    }
}
@media (max-width:388px) {
    header {
        height: 1030px;
        .block {
            .WithIphone {
                .simple {
                    margin-top: 320%;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .firstSection {
        height: 770px;
        .easy-mess {
            flex-wrap: wrap;
            justify-content: center; 
            margin-top: 10%;
            margin-left: 15%;
            height: 460px;
            .scrin {
                height: 470px;
                justify-content: center;
                
            }
            .easy-text {
               height: 200px;
               margin-top: 12%;
                p {
                    width: 80%;
                }
            }
        }
    }
}
@media (max-width:670px) {
    .firstSection {
        .easy-mess {
            .easy-text {
                width: 90%;
            }
        }
    }
}
@media (max-width:552px) {
    .firstSection {
        height: 620px;
        .easy-mess {
            margin-top: -5%;
            .easy-text {
                margin-top: -15%;
            }
        }
        
    }
}
@media (max-width:510px) {
    .firstSection {
        height: 660px;
    }
}
@media (max-width:420px) {
    .firstSection {
        height: 700px;
        .easy-mess {
            .scrin {
                height: 410px;
            }
        }
    }
}
@media (max-width:360px) {
    .firstSection {
        .easy-mess {
            .scrin {
                height: 360px;
            }
        }
    }
}
@media (max-width:338px) {
    .firstSection {
        .easy-mess {
            .easy-text {
                h1 {
                    margin-left: -20px;
                }
                @media (max-width:312px) {
                    h1 {
                        margin-left: -40px;
                    }
                }
            }
        }
    }
}
@media (max-width:1300px) {
    .secondSection {
        .keep-touch {
            height: 500px;
            margin-top: 5%;
        }
    }
}
@media (max-width:1100px) {
    .secondSection {
        .keep-touch {
            height: 435px;
        }
    }
}
@media (max-width:900px) {
    .secondSection {
        .keep-touch {
            height: 320px;
            margin-top: 4%;
        }
    }
}
@media (max-width:768px) {
    .secondSection {
        margin-top: 10%;
        height: 780px;
        .keep-touch {
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 15%;
            height: 800px;
            margin-top: 10%;
            .keep-text {
                height: 230px;
                
                p {
                    width: 80%;
                }
            }
            .scr {
                height: 500px;
                margin-left: -10%;
                margin-top: 10%;
                justify-content: center;
            }
        }
    }
}
@media (max-width:670px) {
    .secondSection {
        .keep-touch {
            margin-top: 15%;
            .keep-text {
                width: 90%;
            }
            @media (max-width:500px) {
                .keep-text {
                    margin-top: 15%;
                    margin-bottom: 20%;
                }
            }
        }
    }
}

@media (max-width:550px) {
    .secondSection {
        height: 740px;
        .keep-touch {
            height: 720px;
        }
    }
}
@media (max-width:510px) {
    .keep-touch {
        .scr {
            margin-top: 10%;
        }
    }
}
@media (max-width:440px) {
    .secondSection {
        height: 750px;
        .keep-touch {
            .scr{
                margin-top: 30%;
                height: 300px;
            }
        }
    }
}
@media (max-width:390px) {
    .secondSection {
        .keep-touch {
            height: 650px;
            .scr {
                //margin-top: 60%;
            }
        }
    }
}
@media (max-width:340px) {
    .secondSection {
        .keep-touch {
            .scr {
                margin-top: 42%;
            }
        }
    }
}
@media (max-width:330px) {
    .secondSection {
        height: 640px;
    }
}

@media (min-width:1200px) and (max-width:2200px) {
    .secondSection {
        margin-top: 10%;
    }
}

@media (max-width:768px){
    .thirdSection {
        height: 1100px;
        .comments {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .first-comment {
                width: 55%;
                .human-1 {
                    transform: translate(15px, 0px);
                }
            }
            .second-comment {
                width: 55%;
                margin-top: 50px;
                .human-2 {
                    transform: translate(15px, 0px);
                }
            }
            .third-comment {
                width: 55%;
                margin-top: 50px;
                .human-3 {
                    transform: translate(15px, 0px);
                }
            }
        }
    }
}
@media (max-width:640px){
    .thirdSection {
        .comments {
            .first-comment {
                width: 70%;
            }
            .second-comment {
                width: 70%;
            }
            .third-comment {
                width: 70%;
            }
        }
    }
}
@media (max-width:503px){
    .thirdSection {
        height: 1100px;
        .comments {
            .first-comment {
                width: 90%;
            }
            .second-comment {
                width: 90%;
            }
            .third-comment {
                width: 90%;
            }
        }
    }
}
@media (max-width:423px) {
    .thirdSection {
        height: 1200px;
        margin-bottom: 100px;
    }
}
@media (max-width:407px){
    .thirdSection {
        margin-bottom: 220px;
    }
}
@media (max-width:336px) {
    .thirdSection {
        height: 1300px;
    }
}

@media (min-width:1340px) {
    .fourthSection {
        .blocking {
            .left {
                height: 100%;
                .free-call {
                    margin-top: -10%;
                }
            }
            .right {
                height: 100%;
                .sendVideo {
                    margin-top: -10%;
                }
            }
        }
    }
}
@media (min-width:1300px) {
    .thirdSection {
        margin-top: -4%;
    }
}
@media (max-width:768px) {
    .fourthSection {
        height: 1500px;
        .blocking {
            display: flex;
            flex-wrap: wrap;
            .left {
                width: 50%;
                .conversation, .free-call {
                    margin-top: 5%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
            .Iphone7 {
                margin-top: 10%
            }
            .right {
                width: 50%;
                margin-top: -10%;
                .takePicture, .sendVideo {
                    margin-top: 0%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width:670px) {
    .fourthSection {
        height: 1600px;
        .blocking {
            display: flex;
            flex-wrap: wrap;
            .left {
                width: 50%;
                .conversation, .free-call {
                    margin-top: 10%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
            @media (max-width:505px) {
                .Iphone7 {
                    margin-top: 15%;
                    margin-bottom: -10%;
                }
            }
            @media (max-width:436px) {
                .Iphone7 {
                    margin-top: 25%;
                    margin-bottom: -20%;
                }
            }
        }
    }
}
@media (max-width:392px) {
    .fourthSection {
        height: 1700px;
        margin-top: 35%;
        @media (max-width:390px) {
            margin-top: 60%;
        }
        .blocking {
            .left {
                .free-call {
                    margin-top: 50%;
                }
            }
            .Iphone7 {
                margin-top: 30%;
                margin-bottom: -60%;
            }
            .right {
                .sendVideo {
                    margin-top: 50%;
                }
            }
        }
    }
}
@media (max-width:360px) {
    .fourthSection {
        .blocking {
            .Iphone7 {
                margin-bottom: -100%;
            }
        }
    }
}
@media (max-width:320px) {
    .fourthSection {
        .blocking {
            .Iphone7 {
                margin-bottom: -145%;
            }
        }
    }
}
@media (max-width: 650px) {
    .download {
        height: 590px;
    }
}
@media (max-width:401px) {
    footer {
        .language {
            button.dropdown-menu.show {
                transform: translate(-130px, -85px);
            }
        }
    }
}
@media (max-width:435px) {
    footer {
        .language {
            margin-top: 13%;
        }
    }
}
@media (max-width:369px) {
    footer {
        .language {
            margin-top: 28%;
        }
    }
}