@media (min-width:1400px) {
    header {
        .block {
            .WithIphone {
                .iphone {
                    width: 49%;
                }
                @media (min-width:1500px) {
                    .iphone {
                        width: 45%;
                    }
                }
                @media (min-width:1650px) {
                    .iphone {
                        width: 41%;
                    }
                }
                @media (min-width:1900px) {
                    .iphone {
                        width: 35%;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    header {
        .block {
            .WithIphone {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10%;
                .simple {
                    margin-top: 120%;
                    text-align: center;
                    .but {
                        display: flex;
                        justify-content: center;
                    }
                    button {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}
@media (max-width:525px) {
    header {
        .box-gradient {
            width: 100%;
            .head {
                width: 28%;
                flex-wrap: wrap;
                transform: translate(100%, 0%);
                text-align: center;
            }
        }
        .block {
            .WithIphone{
                margin-top: 50%;
                .iphone {
                    
                }
            } 
        }
    }
}

@media (max-width:400px) {
    header {
        .block {
            margin-top: 20%;
            .WithIphone {
                
            }
        }
    }
}
@media (max-width:370px) {
    header {
        .block {
            .WithIphone {
                margin-top: 70%;
            }
        }
    }
}
@media (max-width:296px) {
    header {
        .block {
            .WithIphone {
                .simple {
                    margin-top: 200%;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .firstSection {
        display: flex;
        justify-content: center;
        .easy-mess {
            flex-wrap: wrap;
            margin-left: 20%;
            .scrin {
                height: 500px;
                justify-content: center;
            }
        }
        .easy-text {
            margin-top: -15%;
            p {
                width: 80%;
            }
        }
    }
}
@media (max-width:691px) {
    .firstSection {
        .easy-text {
            width: 60%;
        }
    }
}
@media (max-width:551px) {
    .firstSection {
        margin-top: 50%;
        .easy-mess {
            .scrin {
                margin-top: -200px;
            }
        }
        .easy-text {
            margin-top: -65%;
        }
    }
}
@media (max-width:400px) {
    .firstSection {
        .easy-mess {
            margin-right: 20%;
            width: 50%;
            .scrin {
                margin-top: -250px;
                margin-left: -25%;
                height: 300px;
                .s-one {
                    width: 100%;
                }
                .s-two {
                    width: 100%;
                }
            }
            .easy-text {
                margin-left: 5%;
            }
        }
    }
}

@media (max-width:350px) {
    .firstSection {
        .easy-text {
            margin-left: 10%;
        }
    }
}
@media (max-width:300px) {
    .firstSection {
        .easy-text {
            margin-left: 15%;
        }
    }
}
@media (max-width:768px) {
    .secondSection {
        margin-top: 60%;
        .keep-text {
            margin: -20% 0% 30px 10%;
            p {
                width: 80%;
            }
        }
        .keep-touch {
            flex-wrap: wrap;
            margin-left: 20%;
            .scr {
                height: 500px;
                margin-left: -10%;
                justify-content: center;
            }
        }
    }
}
@media (max-width:691px) {
    .secondSection {
        .keep-touch {
            .keep-text {
                width: 70%;
            }
        }
    }
}
@media (max-width:640px) {
    .secondSection {
        .keep-text {
            margin-top: 20%;
        }
    }
}
@media (max-width:551px) {
    .secondSection {
        margin-top: 0%;
        .keep-text {
            margin-top: 20%;
        }
    }
}
@media (max-width:489px) {
    .secondSection {
        .keep-text {
            margin-bottom: 20%;
        }
    }
}
@media (max-width:441px) {
    .secondSection {
        .keep-touch {
            margin-bottom: 20%;
        }
    }
}
@media (max-width:440px) {
    .secondSection {
        margin-top: 0%;
        .keep-text {
            margin-top: 50%;
        }
    }
}
@media (max-width:400px) {
    .secondSection {
        margin-top: 40%;
        .keep-text {
            margin-top: 40%;
        }
    }
}
@media (max-width:340px) {
    .secondSection {
        .keep-text {
            margin-top: 70%;
        }
    }
}
@media (max-width:310px) {
    .secondSection {
        .keep-text {
            margin-top: 120%;
        }
    }
}
@media (min-width:1200px) and (max-width:2200px) {
    .secondSection {
        margin-top: 10%;
    }
}
@media (max-width:1450px) {
    .secondSection {
        .line{
            margin-top: -5%;
        }
    }
}
@media (max-width:1200px) {
    .secondSection {
        .line{
            margin-top: -10%;
        }
    }
}
@media (max-width:1000px) {
    .secondSection {
        .line{
            margin-top: -20%;
        }
    }
}
@media (max-width:900px) {
    .secondSection {
        .line{
            margin-top: -30%;
        }
    }
}
@media (max-width:768px) {
    .secondSection {
        .line{
            margin-top: 20%;
        }
    }
}
@media (max-width:641px) {
    .secondSection {
        .line{
            margin-top: 45%;
        }
    }
}
@media (max-width:440px) {
    .secondSection {
        .keep-touch {
            .scr{
                margin-top: 30%;
                height: 300px;
            }
        }
    }
}
@media (max-width:400px) {
    .secondSection {
        .line{
            margin-top: 85%;
        }
    }
}
@media (max-width:300px) {
    .secondSection {
        .line{
            margin-top: 65%;
        }
    }
}

@media (max-width:768px){
    .thirdSection {
        margin-top: 60%;
        height: 1000px;
        .comments {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .first-comment {
                width: 55%;
                .human-1 {
                    transform: translate(15px, 0px);
                }
            }
            .second-comment {
                width: 55%;
                margin-top: 50px;
                .human-2 {
                    transform: translate(15px, 0px);
                }
            }
            .third-comment {
                width: 55%;
                margin-top: 50px;
                .human-3 {
                    transform: translate(15px, 0px);
                }
            }
        }
    }
}
@media (max-width:640px){
    .thirdSection {
        margin-top: 80%;
        .comments {
            .first-comment {
                width: 70%;
            }
            .second-comment {
                width: 70%;
            }
            .third-comment {
                width: 70%;
            }
        }
    }
}
@media (max-width:503px){
    .thirdSection {
        .comments {
            .first-comment {
                width: 90%;
            }
            .second-comment {
                width: 90%;
            }
            .third-comment {
                width: 90%;
            }
        }
    }
}
@media (max-width:560px){
    .thirdSection {
        margin-top: 100%;
    }
}
@media (max-width:400px){
    .thirdSection {
        margin-top: 150%;
    }
}
@media (max-width:441px) {
    .thirdSection {
        .what-say {
            margin-top: 110%;
        }
    }
}
@media (min-width:1340px) {
    .fourthSection {
        .blocking {
            .left {
                height: 100%;
                .free-call {
                    margin-top: -10%;
                }
            }
            .right {
                height: 100%;
                .sendVideo {
                    margin-top: -10%;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .fourthSection {
        height: 1500px;
        .blocking {
            display: flex;
            flex-wrap: wrap;
            .left {
                width: 50%;
                .conversation, .free-call {
                    margin-top: 5%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
            .Iphone7 {
                margin-top: 10%
            }
            .right {
                width: 50%;
                margin-top: -10%;
                .takePicture, .sendVideo {
                    margin-top: 0%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width:670px) {
    .fourthSection {
        height: 1600px;
        .blocking {
            display: flex;
            flex-wrap: wrap;
            .left {
                width: 50%;
                .conversation, .free-call {
                    margin-top: 10%;
                    h4, p {
                        text-align: center;
                    }
                }
            }
            @media (max-width:505px) {
                .Iphone7 {
                    margin-top: 15%;
                    margin-bottom: -10%;
                }
            }
            @media (max-width:436px) {
                .Iphone7 {
                    margin-top: 25%;
                    margin-bottom: -20%;
                }
            }
        }
    }
}
@media (max-width:392px) {
    .fourthSection {
        height: 1700px;
        margin-top: 35%;
        @media (max-width:390px) {
            margin-top: 60%;
        }
        .blocking {
            .left {
                .free-call {
                    margin-top: 50%;
                }
            }
            .Iphone7 {
                margin-top: 30%;
                margin-bottom: -60%;
            }
            .right {
                .sendVideo {
                    margin-top: 50%;
                }
            }
        }
    }
}
